<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="icon" href="/imagens/favicon.ico">
<title>Repasse - Comparar</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/jquery-ui.min.css" rel="stylesheet">
<link href="css/jquery-ui.theme.min.css" rel="stylesheet">
</head>

<body ng-controller="CompararController" ng-app="RepasseApp">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./index.html"><img
					style="max-width: 80px; height: 50px; margin-top: -18px"
					src="/imagens/repasse_logo_mini.gif"></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="explorar.html">Explorar</a></li>
					<li class="active"><a href="comparar.html">Comparar</a></li>
					<li><a href="desenvolvedores.html">Desenvolvedores</a></li>
					<li><a href="sobre.html">Sobre</a></li>
					<li><a href="admin.html">Administração</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="jumbotron">
		<div class="container">
			<h1>Repasse Comparar</h1>
			<p>Verifique os repasses monetários do governo federal para sua
				cidade e exija melhorias!</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Selecione municípios para comparar:</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="estados" class="control-label col-xs-2">Estado</label>
							<div class="col-xs-4">
								<select id="estados" class="form-control"
									ng-model="estadoSelecionado" ng-change="carregaMunicipios()"
									ng-options="estado.sigla for estado in estados"
									ng-disabled="!estados">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="cidades" class="control-label col-xs-2">Município</label>
							<div class="col-xs-4">
								<select id="municipios" class="form-control"
									ng-model="municipioSelecionado"
									ng-disabled="!estadoSelecionado"
									ng-options="municipio.nome for municipio in municipios">
								</select>
							</div>
							<div class="col-xs-4">
								<button type="submit" class="btn btn-primary"
									ng-click="addMunicipio()" ng-disabled="!municipioSelecionado">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row" ng-show="municipiosSelecionados.length">
			<div class="panel panel-default">
				<div class="panel-heading">Municípios selecionados</div>
				<div class="panel-body">
					<span class="label label-success"
						ng-repeat="m in municipiosSelecionados"
						style="margin-left: 10px; font-size: small"> {{ m.nome }} -
						{{ m.estado.sigla }} <span class="glyphicon glyphicon-minus-sign"
						style="cursor: pointer" ng-click="removerMunicipio($index)"></span>
					</span>
				</div>
			</div>
		</div>
	</div>


	<div class="container" ng-show="municipiosSelecionados.length">
		<div class="panel panel-default">
			<div class="panel-heading">Comparação</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<div class="input-group">
							<div id="radioBtn" class="btn-group">
								<a class="btn btn-primary btn-sm"
									ng-class="{active: ehAgregacaoSelecionada(a), notActive: !ehAgregacaoSelecionada(a)}"
									ng-click="selecionaAgregacao(a)"
									ng-repeat="a in agregacoesSuportadas">{{a.nome}}</a>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="input-group">
							<div id="radioBtn" class="btn-group">
								<a class="btn btn-primary btn-sm"
									ng-class="{active: ehAnoSelecionado(a), notActive: !ehAnoSelecionado(a)}"
									ng-click="selecionaAno(a)" ng-repeat="a in anos">{{a.ano}}</a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<em class="pull-right"> Mostrando {{todasCategorias.length }}
							de {{ todasCategorias.length + categoriaRemovidas.length }}
							categorias
							<button class="btn btn-primary" ng-click="configurarCategorias()">
								<span class="glyphicon glyphicon-wrench"></span>
							</button>
						</em>
					</div>
				</div>
				<!--  INICIANDO A PARTE DE VISUALIZAÇÃO -->
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							Comparação <em>per capita</em> de cada município
						</div>
						<div class="panel-body">
							<div id="graficoPerCapitaComparacaoAgregacao"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">Comparação em valores totais de
							cada município</div>
						<div class="panel-body">
							<div id="graficoComparacaoAgregacao"></div>
						</div>
					</div>
				</div>

			</div>
			<div id="dialogoSelecionarCategorias" style="display: none"
				title="Configurar Categorias">
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">Categorias Adicionadas</div>
							<div class="panel-body">
								<select class="form-control" ng-model="categoriaParaRemover"
									ng-options="c for c in todasCategorias" size="10" multiple></select>
								<button class="btn" ng-disabled="!categoriaParaRemover"
									ng-click="removeCategoria()">
									<span class="glyphicon glyphicon-chevron-right"></span>
								</button>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Categorias Removidas</h3>
							</div>
							<div class="panel-body">
								<select class="form-control" ng-model="categoriaParaAdicionar"
									ng-options="c for c in categoriaRemovidas" size="10" multiple></select>
								<button class="btn" ng-disabled="!categoriaParaAdicionar"
									ng-click="adicionaCategoria()">
									<span class="glyphicon glyphicon-chevron-left"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<hr>
		<footer>
			<div class="row">
				<div class="col-md-2 ">
					<a href="http://nuvem.ufabc.edu.br/"><img
						src="./imagens/logo_small.jpg" alt="Nuvem UFABC" width="100"
						height="80"></a>
				</div>
				<div class="col-md-2 col-md-offset-3">
					<a href="http://www.ufabc.edu.br"><img
						src="./imagens/logo_ufabc.png" alt="UFABC" width="100" height="80"></a>
				</div>
				<div class="col-md-2 col-md-offset-3">
					<a href="http://uab.ufabc.edu.br/index.php/cursos/tsi"><img
						src="./imagens/logouab.jpg" alt="UAB" width="100" height="80"></a>
				</div>
			</div>
		</footer>
	</div>

	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/highcharts.js" type="text/javascript"></script>
	<script src="js/repasseservice.js"></script>
	<script src="js/comparar.js"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64745535-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
