<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>TransfGov - Página Inicial</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/jquery-ui.min.css" rel="stylesheet">
<link href="css/jquery-ui.theme.min.css" rel="stylesheet">
<link href="css/dataTables.jqueryui.css" rel="stylesheet">
</head>

<body ng-controller="AdminController" ng-app="AppAdmin">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="./index.html">TransfGov</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="explorar.html">Explorar</a></li>
				<li><a href="comparar.html">Comparar</a></li>
				<li><a href="desenvolvedores.html">Desenvolvedores</a></li>
				<li><a href="sobre.html">Sobre</a></li>
				<li class="active"><a href="admin.html">Administração</a></li>
			</ul>
		</div>
	</nav>

	<div class="jumbotron">
		<div class="container">
			<h1>TransGov Administração</h1>
			<p>Verifique as repasses monetários do governo federal para sua
				cidade e exija melhorias!</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<h3>Realizar carga de transferências</h3>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="anoCarga" class="control-label col-xs-3">Ano</label>
					<div class="col-xs-3">
						<input id="anoCarga" type="text" ng-model="anoCarga" />
					</div>
				</div>
				<div class="form-group">
					<label for="mesCarga" class="control-label col-xs-3">Mês</label>
					<div class="col-xs-3">
						<input type="text" id="mesCarga" ng-model="mesCarga" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-2 col-xs-2">
						<button type="submit" class="btn btn-primary"
							ng-click="realizaCarga()"
							ng-disabled="realizandoCarga || limpandoDados">
							<span class="glyphicon glyphicon-download-alt"
								style="margin-right: 10px"></span>Carregar
						</button>
					</div>
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary"
							ng-click="apagaDadosTransferencia()" ng-disabled="fazendoAcao">
							<span class="glyphicon glyphicon-trash"
								style="margin-right: 10px"></span>Limpar
						</button>
					</div>
				</div>
				<div class="form-group">
					<div
						ng-class="{true: 'alert alert-warning', false: 'alert alert-danger'}[sucesso]"
						role="alert">{{ msgResposta }}</div>
				</div>
			</form>
		</div>
		<hr />

		<div class="row">
			<h3>Carregar População</h3>
			<div class="col-md-6">
				<button class="btn btn-primary" ng-click="carregaDadosPop()"
					ng-disabled="cargaPopulacao">Atualizar dados da população
					para cada município</button>
				<br />
				<div class="alert alert-warning" role="alert"
					ng-show="resultadoCargaPopulacao" id="divResCargaPop"></div>

			</div>
		</div>
		<hr />
		<div class="row">
			<h3>Cargas de dados de transferências</h3>
			<div class="alert alert-info" role="alert">
				Alguns dados podem ter sido carregados diretamente no banco, assim
				não houve carga pela interface. Confira os dados acessando <a
					href="http://transparencia.gov.br/">O Portal da transparëncia
					do governo federal</a>
			</div>

			<table id="tblCargaTransf" datatable="ng"
				style="text-overflow: ellipsis">
				<thead>
					<tr>
						<th>Ano</th>
						<th>Mês</th>
						<th>% Progresso</th>
						<th># Linhas</th>
						<th># Não Processadas</th>
						<th># Sucesso</th>
						<th># Erro</th>
						<th>Inicío da Carga</th>
						<th>Fim</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="c in infoCargasTransf">
						<td>{{ c.ano }}</td>
						<td>{{c.mes }}</td>
						<td>{{((c.qtdeNaoProcessada + c.qtdeSucesso + c.qtdeFalhas) /
							c.qtdeLinhas ) * 100 | number:1 }}%</td>
						<td>{{ c.qtdeLinhas }}</td>
						<td>{{ c.qtdeNaoProcessada }}</td>
						<td>{{ c.qtdeSucesso }}</td>
						<td>{{ c.qtdeFalhas }}</td>
						<td>{{ c.inicio }}</td>
						<td>{{ c.fim }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class=row>
			<div class="col-md-5">
				<input type="checkbox" ng-model="atualizarCargaFlag"
					ng-change="mudaAtualizarCarga()" /> <em>Atualizar
					automaticamente</em>
			</div>
		</div>
		<div class="row">
			<h3>Resumo dos dados no banco</h3>
			<div class="alert alert-info" role="alert">
				Tabela para verificar dados no nosso banco com relação aos dados do
				<a href="http://transparencia.gov.br/">Portal da transparëncia
					do governo federal</a>. Notem que o número de linhas carregadas é
				ligeiramente diferente e isso é normal, pois algumas linhas não
				contém informações de transferëncia.
			</div>
				<div class="alert alert-warning" role="alert" ng-show="!dadosResumo">AGUARDE! O resumo pode levar muito tempo para ser gerado pela primeira vez!</div>
				<table id="tblDadosResumo" datatable="ng"
				style="text-overflow: ellipsis">
				<thead>
					<tr>
						<th>Ano</th>
						<th>Mês</th>
						<th>Dados locais</th>
						<th>Total de linhas no arquivo do portal da transparëncia</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="r in dadosResumo">
						<td>{{ r.ano }}</td>
						<td>{{r.mes }}</td>
						<td>{{ r.totalTransferencias }}</td>
						<td>{{ r.contagemLinhas }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<hr>
		<footer>
			<div class="row">
				<div class="col-md-2 ">
					<a href="http://nuvem.ufabc.edu.br/"><img
						src="./imagens/logo_small.jpg" alt="Nuvem UFABC" width="100"
						height="80"></a>
				</div>
				<div class="col-md-2 col-md-offset-3">
					<a href="http://www.ufabc.edu.br"><img
						src="./imagens/logo_ufabc.png" alt="UFABC" width="100" height="80"></a>
				</div>
				<div class="col-md-2 col-md-offset-3">
					<a href="http://uab.ufabc.edu.br/index.php/cursos/tsi"><img
						src="./imagens/logouab.jpg" alt="UAB" width="100" height="80"></a>
				</div>
			</div>
		</footer>
	</div>
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.dataTables.min.js"></script>
	<script src="js/dataTables.jqueryui.js"></script>
	<script src="js/angular-datatables.min.js"></script>

	<script src="js/admin.js"></script>
</body>
</html>
